/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #D93D04;
  color: #D9A404;
  padding: 20px;
}

a {
  color: #D9A404;
  text-decoration: wavy underline;
}

a:hover {
  color: #2D5938;
  text-decoration: none;
}
