* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
      background-image: url("https://images.unsplash.com/photo-1597290282695-edc43d0e7129?q=80&w=3550&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-size: cover;
      font-family: "Montserrat", sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

   .card {
    color: #ffffff;
    width: 35%;
    padding: 50px;
    margin: 15px auto 0px;
    cursor: pointer;
    position: relative;
    pointer-events: auto;
    z-index: 3;
    background: linear-gradient(
    -75deg,
   rgba(186, 186, 186, 0.303),
    rgba(94, 94, 94, 0.676),
    rgba(174, 174, 174, 0.32)
  );
  border-radius: 50px;
  box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
    inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
    0 0.25em 0.125em -0.125em rgba(0, 0, 0, 0.2),
    0 0 0.1em 0.25em inset rgba(255, 255, 255, 0.2),
    0 0 0 0 rgba(255, 255, 255, 1);
  backdrop-filter: blur(clamp(3px, 0.125em, 4px));
  -webkit-backdrop-filter: blur(clamp(3px, 0.125em, 4px));
  -moz-backdrop-filter: blur(clamp(3px, 0.125em, 4px));
  -ms-backdrop-filter: blur(clamp(3px, 0.125em, 4px));
  transition: all var(--anim--hover-time) var(--anim--hover-ease); 

}

    .card img {
  max-width: 70%;
  display: block;
  margin: 0 auto 20px auto; /* top: 0, horizontal: auto, bottom: 20px */
  border-radius: 50px;
}

    .card img:hover {
    transform: scale(1.1);
    transition: transform .5s;
    }

    .buttons {
    border-radius: 999vw;
    font-size: 20px;
    font-weight: bold;
    }

    .btn {
       /* Basic Styling */
    --border-width: clamp(1px, 0.0625em, 4px);
    all: unset;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    cursor: pointer;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    pointer-events: auto;
    z-index: 3;
    background: linear-gradient(
    -75deg,
    rgba(255, 0, 0, 0.303),
    rgba(255, 0, 0, 0.676),
    rgba(255, 0, 0, 0.32)
  );
  border-radius: 999vw;
  box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
    inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
    0 0.25em 0.125em -0.125em rgba(0, 0, 0, 0.2),
    0 0 0.1em 0.25em inset rgba(255, 255, 255, 0.2),
    0 0 0 0 rgba(255, 255, 255, 1);
  backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  -webkit-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  -moz-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  -ms-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  transition: all var(--anim--hover-time) var(--anim--hover-ease);
    }

    .btn:hover {
    transform: scale(0.975);
    backdrop-filter: blur(0.01em);
    -webkit-backdrop-filter: blur(0.01em);
    -moz-backdrop-filter: blur(0.01em);
    -ms-backdrop-filter: blur(0.01em);
    box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
    inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
    0 0.15em 0.05em -0.1em rgba(0, 0, 0, 0.25),
    0 0 0.05em 0.1em inset rgba(255, 255, 255, 0.5),
    0 0 0 0 rgba(255, 255, 255, 1);
    }

    .btn.alcoholic {
       /* Basic Styling */
    --border-width: clamp(1px, 0.0625em, 4px);
    all: unset;
    padding: 20px;
    cursor: pointer;
    position: relative;
    margin-left: 10px;;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    pointer-events: auto;
    z-index: 3;
    background: linear-gradient(
    -75deg,
    rgba(0, 255, 34, 0.303),
    rgba(0, 255, 34, 0.676),
    rgba(0, 255, 34, 0.32)
  );
  border-radius: 999vw;
  box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
    inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
    0 0.25em 0.125em -0.125em rgba(0, 0, 0, 0.2),
    0 0 0.1em 0.25em inset rgba(255, 255, 255, 0.2),
    0 0 0 0 rgba(255, 255, 255, 1);
  backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  -webkit-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  -moz-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  -ms-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  transition: all var(--anim--hover-time) var(--anim--hover-ease);
    }

    .btn.alcoholic:hover {
     transform: scale(0.975);
      backdrop-filter: blur(0.01em);
      -webkit-backdrop-filter: blur(0.01em);
      -moz-backdrop-filter: blur(0.01em);
      -ms-backdrop-filter: blur(0.01em);
      box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
      inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
      0 0.15em 0.05em -0.1em rgba(0, 0, 0, 0.25),
      0 0 0.05em 0.1em inset rgba(255, 255, 255, 0.5),
      0 0 0 0 rgba(255, 255, 255, 1);
    }

    h2 {
      font-size: 30px;
      margin-bottom: 20px;
    }

 /* Style the button that is used to open and close the collapsible content */
.collapsible {
    all: unset;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    background: linear-gradient(
    -75deg,
    rgba(186, 186, 186, 0.303),
    rgba(94, 94, 94, 0.676),
    rgba(174, 174, 174, 0.32)
  );
  border-radius: 999vw;
  box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
    inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
    0 0.25em 0.125em -0.125em rgba(0, 0, 0, 0.2),
    0 0 0.1em 0.25em inset rgba(255, 255, 255, 0.2),
    0 0 0 0 rgba(255, 255, 255, 1);  
  transition: all var(--anim--hover-time) var(--anim--hover-ease);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #0000003e;
  transition: background-color .2s;
  transition: transform .5s;
  color: rgb(255, 255, 255);

  transform: scale(1.1);
  backdrop-filter: blur(0.01em);
  -webkit-backdrop-filter: blur(0.01em);
  -moz-backdrop-filter: blur(0.01em);
  -ms-backdrop-filter: blur(0.01em);
  box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
    inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
    0 0.15em 0.05em -0.1em rgb(0, 0, 0),
    0 0 0.05em 0.1em inset rgba(255, 255, 255, 0.5),
    0 0 0 0 rgba(255, 255, 255, 1);
}

/* Style the collapsible content. Note: hidden by default */
.content {
 padding: 0;
  display: none;
  width: 100%;
  margin-top: 0px;
      margin-bottom: 30px;
      font-size: 18px;
      text-align: center;
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
} 


