/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #D93D04;
  color: #D9A404;
  padding: 20px;
}

/* Image */
img {
  max-width: 20%;
  height: auto;
}

/* Button */
button {
  background-color: #D9A404;
  color: #D93D04;
  border: #2D5938;
  border-radius: 100px;
  border-style: dotted;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
}

button:hover {
  background-color: #2D5938;
  color: #D9A404;
  border-color: #D93D04;
}

a {
  color: #D9A404;
  text-decoration: wavy underline;
}

a:hover {
  color: #2D5938;
  text-decoration: none;
}

/* Main Content */
main {
  margin-top: 20px;
}

img:fullscreen {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #D93D04;
}
